<html>
    <head>
        <script src="/static/scripts/clearbut.js"></script>
        <!link rel="stylesheet" type="text/css" href={{url_for('static',filename='style.css')}}>
        <!link rel="stylesheet" type="text/css" href={{url_for('static',filename='button.css')}}>
        <!link rel="stylesheet" type="text/css" href={{url_for('static',filename='fonts.css')}}>
        <link rel="stylesheet" type="text/css" href='../static/style.css'>
        <link rel="stylesheet" type="text/css" href='../static/button.css'>
        <link rel="stylesheet" type="text/css" href='../static/fonts.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta charset="utf-8">
        <title>{{foldername}}</title>
        {% if title %}
        <title>{{ title }} - MES test</title>
        {% else %}
        <title>Лазер-НН Металлообработка</title>
        {% endif %}
    </head>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no maximum-scale=1" name="viewport">
    <body>
        <div class="layer1">
            <h5>Лазер-НН Металлообработка:
            <a href="{{ url_for('index') }}">Стартовая страница</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Войти</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
            {% endif %}
        </h5></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>