{% extends "base.html" %}
{% block content %}
<head>
    <link  rel="stylesheet" type="text/css" href={{url_for('static',filename='style.css')}}>
    <meta charset="utf-8">
    <title>{{foldername}}</title>
</head>
<meta content="width=device-width, initial-scale=1, min-scale=1, max-scale=1" name="viewport">
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="layer1">
    <h5>{{foldername}}</h5>
    {% for name in images_list %}
    <div class="container">
        <a class="main-item" tabindex="1"><img class="marginauto" src="/recovery/{{foldername}}/{{name}}" alt="Lazer-nn"
                                               width=150px height=150px></a>
        <ul class="sub-menu">
            <div class="box">
                <div class="btn"><a href="/recovery/{{foldername}}/{{name}}">Открыть</a></div>
                <div class="btn2"><a href="/recover/{{foldername}}/{{name}}">Восстановить</a></div>
            </div>
        </ul>
    </div>
    {% endfor %}

</body>
<button id="login" class="button blue">
    <i class="fa fa-unlock"></i>
    <span><a href="/details/{{foldername}}">Посмотреть актуальные</a></span>
</button>
</div>
{% endblock %}